 *
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: sans-serif;
 }
 button{
    background-color: transparent;
    border-style: none;
 }
:root{

}

.conteiner{
    max-width: 900px;
    margin: 0 auto;
   
}
.card{
    padding: 1rem;

}
.plan{
    margin-bottom: 1rem;
}.row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.col{
    flex-basis: calc(100% / 3 (15 * 3) 3);
    min-width: 290px;
    flex-grow: 1;
    min-height: 400px;
    

}
.accent{
    background-color: #6500ff;
    color: white;
}
#place {
    padding: 1rem;
}
    header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .toggler{
    flex-grow: 1;
    text-align: end;
 }
 }
 .card{
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px; rgba( 128, 128, 128, 0.2)
    text-align: center;

    .cardb{
        text-align: center;
    }
 }
 .text-price{
    font-size: 3rem;
    font-weight: bold;
 }
.priec{    
    margin: 1.5rem;
 }
.grey{
    color: gray;
    font-size: 11px;
}
.unstyle{
    list-style: none;
}

.list{
    ul{
        line-height: 2rem;

        li > span{
            font-size: 14px;
        }
    }
}