 body{
    max-width: 900px;
    margin: 0 auto;
    font-family: sans-serif;

 }
 h2{
    color: black;
}
 .card-style{
    position: relative;
    padding: 1rem;
    border: 1px  solid; color: rgb(212, 212, 212);
    min-height: 150px;
    box-shadow: 0px 0px 10px 5px
    
 }
.conteiner{
    display: flex;
    flex-direction: column;
}
.grey{
    color: grey;
    font-size: 10px;
}
.price{
    color: black;
    font-size: 50px;
    font-weight: bold;
    
    
}
.row{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.dollars{
    color: black;
   
}
.col{
   display: flex;
   justify-content: center;
   margin: 10px;
   color: black;
   align-items: center;
   font-size: 10px;

}
.off{
    background-color: rgb(232, 228, 228);
    border-color: gray;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}
.btn{
    display: flex;
    max-width: 400px;
    background-color: #6500ff;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;


}
.Choose{
    font-weight: bold;  
    color: white;  
    font-size: 12px;


}
.list{
    list-style: none
}